div {
    display: inline-block;
    height: 100px;
    width: 100px;
    border: 2px solid black;
} 
body { 
    text-align: center;
}
#container{ 
    width: 800px;
    height: 200px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
