*{
    
    background-color: azure;
    
}
.profile-image{
    height: 200px;
    width: 200px;
    position: relative;
    border-radius: 50%;
    object-fit: cover;
    padding: 3px;
    background-color: rgb(53, 150, 252);
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;
}
.profile-card{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 700px;
    height: 400px;
    box-shadow:0 5px 10px rgb(120, 119, 119);
    border-radius: 24px;
}
.text{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.name{
    font-size: x-large;
}
 .media-button .link{
    margin-right: 24px;
    height: 34px;
    color: black;
    border-radius: 50%;
    background-color: black;
}
.button{
    border-radius: 20px;
    margin-top: 10px;
    margin-right:24px ;
    background-color: blue;
    text-decoration: none;
    
}